# Dependencies
node_modules/

# Production output
dist/
dist-ssr/

# Env files
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# System
.DS_Store

# IDEs
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
